<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<h1>Edit Profile</h1>

<form th:action="@{/editProfile}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}">
    <br>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}">
    <br>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}">
    <br>
    <label for="bio">Bio:</label>
    <textarea id="bio" th:field="*{bio}" rows="4" cols="50"></textarea>
    <br>
    <button type="submit">Save Changes</button>
</form>

<div th:replace="~{navbar::navbar}"></div>

</body>
</html>
