<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<h1 th:text="${user.firstName} + ' ' + ${user.lastName} + '\'s Profile'"></h1>
<p>
    <strong>Date of Birth:</strong> <span th:text="${user.dateOfBirth}"></span>
</p>
<p>
    <strong>Bio:</strong> <span th:text="${user.bio}"></span>
</p>

<h2>User's Posts</h2>
<ul>
    <th:block th:each="post : ${user.posts}">
        <li th:text="${post.body}"></li>
    </th:block>
</ul>

<div th:replace="~{navbar::navbar}"></div>
</body>
</html>
